<div class="main-content">
  <div class="container-fluid">
    
    <div class="col-md-12">
        <div class="row" style="padding-bottom: 10px;">  
         <mat-card class="col-md-4" style="padding-left: 10px;">
         <mat-card-header>
          <mat-card-title> Python</mat-card-title>
         <mat-card-subtitle></mat-card-subtitle>
         </mat-card-header>
         <mat-card-content></mat-card-content>
          <img mat-card-image src="./../../assets/img/python.jpg" class="matimagefix">
        </mat-card>
         <mat-card class="col-md-4" style="padding-left: 10px;">
          AWS
         </mat-card>
         <mat-card class="col-md-4" style="padding-left: 10px;">
          Devops
         </mat-card>
      </div>
      <div class="row" style="padding-bottom: 10px;">  
          <mat-card class="col-md-4" style="padding-right: 10px;">
           Testing Tools
          </mat-card>
          <mat-card class="col-md-4" style="padding-right: 10px;">
           .Net & C#
          </mat-card>
          <mat-card class="col-md-4" style="padding-right: 10px;">
           Java
          </mat-card>
       </div>
       <div class="row" style="padding-bottom: 10px;">  
          <mat-card class="col-md-4" style="padding-right:10px;" >
           Data Science
          </mat-card>
          <mat-card class="col-md-4" style="padding-right: 10px;">
           AWS
          </mat-card>
          <mat-card class="col-md-4" style="padding-right: 10px;">
           BootStrap
          </mat-card>
       </div>
    </div>
    </div>
</div>
