<!-- <div class="main-content">
       
</div> -->
<div class="main-content">
        <div class="container-fluid">
        <mat-card style="text-align: center; height: 450px; letter-spacing: 2px;font-weight:600 ;font-size: 50px;">
                <mat-card-title >
                   <h2> Learn Virtually Anything With Experts </h2>
                </mat-card-title>
                <mat-card-subtitle style="padding-bottom:50px;"><h3>Best way to learn latest technologies with real-time professionals</h3></mat-card-subtitle>
                <mat-card-content style="margin-left: 250px;margin-right: 100px;;">
                        <div class="row">
                                <div class="col-md-10">
                         <mat-form-field class="example-full-width">
                        <input matInput placeholder="Search" [(ngModel)]="searchCourse"  type="text">
                        </mat-form-field>
                                </div>
                            </div>
                            <mat-chip-list aria-label="Course Selection" style="text-align: center;">
                                    <mat-chip>Azure</mat-chip>
                                    <mat-chip>Devops</mat-chip>
                                    <mat-chip color="primary" selected>AWS</mat-chip>
                                    <mat-chip color="primary">Data Science</mat-chip>
                                    <mat-chip color="primary" selected>Java</mat-chip>
                                    <mat-chip color="accent" selected>.NET</mat-chip>
                                    <mat-chip color="accent" >Python</mat-chip>
                                    <mat-chip color="accent" selected>Testing Tools</mat-chip>
                                    <mat-chip color="accent" selected>Angular</mat-chip>
                                    <mat-chip color="accent" selected>Nodejs</mat-chip>
                                  </mat-chip-list>
                </mat-card-content>
               
            </mat-card>
        </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                            <i class="material-icons">people</i>
                          <i class="material-icons">add</i>
                      </div>
                      <p class="card-category">No of User</p>
                      <h3 class="card-title">2000
                          <small>+</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-success">success</i>
                          <a href="javascript:void(0)">Register Now</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">people</i>
                      </div>
                      <p class="card-category">No of Trainers</p>
                      <h3 class="card-title">150</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">assessment</i>
                      </div>
                      <p class="card-category">Certificates Issued</p>
                      <h3 class="card-title">1500+</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Followers</p>
                      <h3 class="card-title">+245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Year wise issued Certificates</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in this year.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Course Subscription</h4>
                      <p class="card-category">For the year of</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> 2018-2019
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
